/*Colores*/

:root {
    --Azul: #336EFF;
    --Blanco: #FFFFFF;
    --Negro: #000000;
    --Amarillo: #FFB509;
    --Beije: #E0E094;
    --Rojo: #FF5733;
    --Degradado: #dfe9f3;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(to top, var(--Degradado) 0%, var(--Blanco) 100%);
    font-size: 16px;
    font-family: 'krub', sans-serif;
}

h1 {
    font-size: 7rem;
    /* 1 rem = 10px*/
    margin: auto 0 auto 0;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

p {
    font-size: 2.5rem;
}

.DS {
    text-align: center;
    font-size: 4rem;
    color: var(--Blanco);
}

.lap {
    align-items: center;
}

.spn-1 {
    font-size: 4rem;
}


/*Sombras*/

.Sombra {
    -webkit-box-shadow: 17px 4px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 17px 4px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 17px 4px 7px 0px rgba(0, 0, 0, 0.75);
    background-color: var(--Blanco);
    border-radius: 2rem;
}


/*Navegacion*/

.Contenedor {
    max-width: 140rem;
    margin: 0 auto;
}

.nav-bg {
    background-color: var(--Azul);
}

.Navegacion-Principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Navegacion-Principal a {
    color: var(--Blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
}

.Navegacion-Principal a:hover {
    background-color: var(--Amarillo);
}

.Conct {
    background-color: var(--Azul);
}

.Contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--Blanco);
}


/*Links*/

.Active-red:visited {
    color: var(--Rojo);
}

a {
    text-decoration: none;
    font-size: 2rem;
}

a:active {
    color: var(--Negro);
}

a:visited {
    color: var(--Beije);
}

a:focus {
    color: var(--Negro);
}


/*Botones*/

.Boton {
    background-color: var(--Amarillo);
    color: var(--Blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: .5rem;
    align-items: center;
    width: 50%;
    text-align: center;
    box-shadow: 0%;
}


/*media queries*/

@media (min-width: 768px) {
    .Navegacion-Principal {
        flex-direction: row;
    }
}

@media (min-width: 540px) {
    .Navegacion-Principal {
        flex-direction: row;
    }
}

@media (min-width: 480px) {
    .Navegacion-Principal {
        flex-direction: row;
    }
}

@media (min-width: 1000px) {
    .Boton {
        width: 30%;
    }
}
/*media-queries-Imagen-cer*/

/*imagenes de fondo titulo*/

.hero {
    background-image: url(../img/Mesa-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    /* 1rem = 10px*/
    position: relative;
    /* Padre */
    margin-bottom: 2rem;
}

.Dev-hero {
    position: absolute;
    /* Hijo*/
    background-color: rgb(0 0 0 /50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Dev-hero h2,
.Dev-hero span {
    color: var(--Blanco);
}

.hero-2 {
    background-image: url(../img/Cert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
    margin-bottom: 2rem;
}

.Dev-hero-2 {
    position: absolute;
    background-color: rgb(0 0 0 /50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Dev-hero-2 h2,
.Dev-hero-2 span {
    color: var(--Blanco);
}

.MyU {
    font-weight: bold;
}

.Footer {
    text-align: center;
}

.hero-3 {
    /* Sin imagen */
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    position: relative;
    margin-bottom: 2rem;
}

.Dev-hero-3 {
    position: absolute;
    background-color: rgba(0 0 0 /50%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Dev-hero-3 h2,
.Dev-hero-3 span {
    color: var(--Blanco);
}
/*Imagenes*/
img{
    display: block;
    width: 100%;
    height: 0 auto;
}